* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
hr {
  border: none;
  border-bottom: 1px dotted black;
  margin: 1rem 0;
}
#primer-texto {
  background-color: blue;
  color: white;
}
#segundo-texto {
  background-color: darkcyan;
  border: 3px solid rgb(0, 88, 88);
  color: white;
}
#tercer-texto {
  background-color: orange;
  border: 3px solid rgb(253, 125, 79);
  margin: 30px 0;
}
#cuarto-texto {
  background-color: coral;
  border: 3px solid red;
  margin: 30px 0;
  padding: 20px;
  color: white;
}
