/* Selector de ID */
#title {
  color: red; /* 1-0-0 */
}

/* Selector de Clase */
.title {
  color: blue; /* 0-1-0 */
}
/* Selector de Clase + Selector de ID */
#title.title {
  color: aqua; /* 1-1-0 */
}
/* Selector de Tipo */
p {
  color: green; /* 0-0-1 */
}

/* Selector de Clase + Selector de ID */
#container .content {
  color: purple; /* 1-1-0 */
}
#container #content.content {
  color: hotpink; /* 2-1-0 */
}

/* Selector de ID + Selector de Tipo */
#special p {
  color: orange; /* 1-0-1 */
}
