*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2{
    text-align: center;
    margin: 20px 0;
}
main{
    width: 500px;
    min-height: 100vh;
    margin:  auto;
    padding: 30px;
    background-color: rgba(255, 253, 253, 0.329);
    box-shadow: 0px 2px 2px 2px  rgb(216, 214, 214) ; 
}
td{
    text-align: center;
}
table{
    margin:0 auto
}
img{
    width: 100%;
}